<wicket:panel>
    <div id="embpanel">
        <div id="scheduleTable">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <!--<th>Saturday</th>
                    <th>Sunday</th>-->
                </tr>
            </thead>
            <tbody>
                <tr wicket:id="row">
                    <th wicket:id="num" class="nums"></th>
                    <td wicket:id="monday"></td>
                    <td wicket:id="tuesday"></td>
                    <td wicket:id="wednesday"></td>
                    <td wicket:id="thursday"></td>
                    <td wicket:id="friday"></td>
                    <!--<td wicket:id="saturday"></td>
                    <td wicket:id="sunday"></td>-->
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</wicket:panel>
