<nav class="sort-pages modify-pages" id="navigation">
	<table id="nav">
		<tbody>
			<tr>
				<td width="800px" height="28px">
					<ul>
						#foreach ($nav_item in $nav_items)
							#if ($nav_item.isSelected())
								<li class="selected">
							#else
								<li>
							#end

									<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.getName()</span></a>

									#if ($nav_item.hasChildren())
										<ul class="child-menu">
											#foreach ($nav_child in $nav_item.getChildren())
												<li>
													<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
												</li>
											#end
										</ul>
									#end
								</li>
						#end
					</ul>
				</td>
				<td valign="middle">
					<div id="csearch">$theme.journalContentSearch()</div>
				</td>
			</tr>
		</tbody>
	</table>
</nav>
