<!DOCTYPE html>

#parse ($init)

<html dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	<style type=text/css>
  		* {
			  margin: 0;
			  padding: 0;
			}
			html, body {
				height: 100%;
			}
			#wholepage {
			  position: relative;
			  min-height: 100%;
			}
			* html #wholepage {
			  height: 100%;
			}
			#footer_hook_text {
			  padding-bottom: 90px;
			}
			#footer_dummy {
				background-color: #99DDFF;
			  position: relative;
			  height: 90px;
			  margin-top: -90px;
			}
			#footer_line {
				width: 100%;
				height: 1px;
				background-color: #6699AA;
			}
			#footer_text {
				font-family: Verdana;
				padding-left: 10px;
				padding-top: 10px;
				padding-right: 15px;
				padding-bottom: 0px;
				font-size: 11px;
			}
			#footer_logo {
				text-align: right;
				margin-top: -55px;
			}
			#footer_logo img {
				border: 0;
			}
  </style>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

<div id="wholepage">
#if($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
#*	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>*#

	<header id="banner" role="banner">
		<hgroup id="heading">
			<h1 class="company-title">
				<a class="logo" href="$company_url" title="#language("go-to") $company_name">
					<span>$company_name</span>
				</a>
			</h1>

	#*		<h2 class="community-title">
				<a href="$community_default_url" title="#language("go-to") $community_name">
					<span>$community_name</span>
				</a>
			</h2>

			<h3 class="page-title">
				<span>$the_title</span>
			</h3>*#
		</hgroup>

		#if(!$is_signed_in)
			<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language("updates-are-available-for-liferay")</a>
			</div>
		#end

		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content" style="height:80%;">
	#*	<nav class="site-breadcrumbs" id="breadcrumbs">
			<h1>
				<span>#language("breadcrumbs")</span>
			</h1>

			#breadcrumbs()
		</nav>*#

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	
</div>

	<div id="footer_hook_text">$theme.include($bottom_include)</div>
</div>

<div id="footer_dummy" role="contentinfo">
	<div id="footer_line"></div>
	<div id="footer_text">
		Copyright &copy; 2010 Exigen Agile Practices Students Team<br/>
		Створено на основі <a href="http://liferay.com/" rel="external">Liferay Portal</a><br/><br/>
		<img src="$images_folder/footer/vk.png" WIDTH="16" HEIGHT="16" alt="VKontakte" align="left">&nbsp;
		<a href="http://vkontakte.ru/club638940">Група факультету ВКонтакті</a>
		<div id="footer_logo">
			За підтримки:<br/>
			<a href="http://www.exigenservices.com.ua/">
			<img src="$images_folder/footer/exigen_logo.png" WIDTH="121" HEIGHT="47" alt="Exigen Services">
			</a>
		</div>
	</div>
</div>

</body>

</html>