<!DOCTYPE html>

#parse ($init)

<html dir="#language("lang.dir")" lang="$w3c_language_id">
	<head>
		<title>$the_title - $company_name</title>

		$theme.include($top_head_include)
	</head>

	<body class="$css_class">

		#if($is_signed_in)
			#dockbar()
		#end

		<div id="container">
			<table width="100%">
				<tbody>
					<tr>
						<td width="20%">
							<hgroup id="heading">
								<h1 class="company-title">
									<a class="logo" href="$company_url" title="#language("go-to") $company_name">
										<span>$company_name</span>
									</a>
								</h1>
							</hgroup>
						</td>

						<td width="60%">
							<p id="FPM">Факультет прикладної математики</p>
							<p id="DNU">Дніпропетровський національній університет ім. О. Гончара</p>
						</td>

						<td width="20%">
							#if(!$is_signed_in)
								<div><a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a></div>
							#end

							#if ($update_available_url)
								<div class="popup-alert-notice">
									<a class="update-available" href="$update_available_url">#language("updates-are-available-for-liferay")</a>
								</div>
							#end
						</td>
					</tr>
				</tbody>
			</table>
	
			#if ($has_navigation)
				#parse ("$full_templates_path/navigation.vm")
			#end

			<div id="content" style="height:80%;">
		

				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()
					$portletDisplay.setTitle($the_title)
					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
			</div>

			<div id="footer_hook_text">$theme.include($bottom_include)</div>
		</div>
		<div id="container1">
			<div id="footer_dummy" role="contentinfo">
				<div id="footer_line"></div>
				<div id="footer_text">
					Copyright &copy; 2010 Група <a href="http://primat.dp.ua/web/developers">розробників</a> - студентів ДНУ ім. О. Гончара.<br/>
					<br/>
					<img src="$images_folder/footer/vk.png" WIDTH="16" HEIGHT="16" alt="VKontakte" align="left">&nbsp;
					<a href="http://vkontakte.ru/club638940" target="_blank">Група факультету ВКонтакті</a><br/>
					<br/>
					<div id="footer_logo">
						Створено на основі <a href="http://liferay.com/" rel="external" target="_blank">Liferay Portal</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-18697298-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</body>
</html>
