/* Table in which users choose group */
#ChooseGroup
{
    border: none;
	border-collapse: collapse;
}

#ChooseGroup select
{
	width: 100px;
}

.button
{
	position: relative;
	left: 490px;
    background: transparent url('button.png') no-repeat;
    display: block;
	width: 186px;
    height: 23px;
	text-align: center;
}

/* Time-table */
table.ViewTable
{
	border-spacing: 2px;
	margin: 3px;
	border-style: none;
	border-collapse: separate;
}
table.ViewTable tr, table.ViewTable td, table.ViewTable th
{
	border-width: 1px;
    padding: 2px 5px 2px 5px;
	border-style: solid;
	border-color: gray;
	text-align: center;
	-moz-border-radius: 6px;
}

#fields td
{
	font-variant: small-caps;
}

#Subject, #Teacher
{
	width: 100px;
}

/* colors */
table.ViewTable th
{
	background-color: rgb(152, 183, 212);
	font-style: italic;
}

table.ViewTable tr:nth-child(2n) td
{
	background-color: rgb(222, 241, 251);
}

table.ViewTable tr:nth-child(2n+1) td
{
	background-color: rgb(173, 217, 251);
}
/* colors */