/* Time-table */
#weekTypeSection {
    padding: 3px 3px 3px 3px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

#scheduleDaybook {
    width: 100%;
    font-size: 14px;
    font-family: verdana;
    padding: 3px 3px 3px 3px;
}

#scheduleDaybook td {
    vertical-align: top;
}

table.ViewTable
{
    width: 100%;
    height: 100%;
    border-spacing: 2px;
    margin: 3px;
    border-style: none;
    border-collapse: separate;
}
table.ViewTable tr, table.ViewTable td, table.ViewTable th
{
    border-width: 1px;
    vertical-align: middle;
    padding: 2px 5px 2px 5px;
    border-style: solid;
    border-color: gray;
    text-align: center;
    -moz-border-radius: 6px;
}

table.ViewTable th
{
    background-color: #276173;
    font-style: italic;
}

#fields td
{
    font-variant: small-caps;
}

/* colors */

table.ViewTable tr:nth-child(2n) td
{
    background-color: rgb(222, 241, 251);
}

table.ViewTable tr:nth-child(2n+1) td
{
    background-color: rgb(173, 217, 251);
}