#curriculumTable {
    text-align: left;
    border: 2px black solid;
    border-collapse: collapse;
}
#curriculumTable tr, #curriculumTable td, #curriculumTable th {
    border: 1px black solid;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
#curriculumTable th {
    border-bottom-width: 2px;
}
#centered {
    text-align: center;
    vertical-align: middle;
}
#tickImg {
    height: 18px;
}

.standartTable {
	margin: 5px;
	border: 1px gray solid;
	font-style: verdana;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border-collapse: collapse;
	font-size: 14px;
}

.standartTable td, .standartTable th {
	border: 1px gray solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;	
	border-radius: 4px;
	padding: 3px 5px 3px 5px;
}

.standartTable th {
	padding: 0px 40px 0px 40px;
	color: gray;
	font-style: italic;
	text-align: center;
}

#scheduleDaybook {
    width: 100%;
    padding: 3px 3px 3px 3px;
}

#scheduleDaybook td {
    vertical-align: top;
    width: 50%;
}