#curriculumTable {
    text-align: left;
    border: black solid;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
}
#curriculumTable tr, #curriculumTable td, #curriculumTable th {
    border: 1px black solid;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
#curriculumTable th {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}
#centered {
    text-align: center;
    vertical-align: middle;
}
#tickImg {
    height: 18px;
}

#scheduleTable table {
    width: 100%;
    padding: 3px 3px 3px 3px;
    text-align: center;
    border: 2px solid;
    border-color: #445947;
}

#scheduleTable th {
    background-color: #FFFCBA;
}

#scheduleTable th, #scheduleTable td {
    border: 1px solid;
    border-color: #445947;
    padding: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

.lecturer {
    color: #752428;
}

.room {
    color: #116611;
    font-size: 90%;
}