#curriculumTable {
    text-align: left;
    border: black solid;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
}
#curriculumTable tr, #curriculumTable td, #curriculumTable th {
    border: 1px black solid;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}
#curriculumTable th {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}
#centered {
    text-align: center;
    vertical-align: middle;
}
#tickImg {
    height: 18px;
}

/* Schedule */

#embpanel {
    padding: 5px 5px 5px 5px;
}

#scheduleTable {
    font-size: 14px;
    font-family: verdana;
}

#scheduleTable table {
    width: 100%;
    padding: 3px 3px 3px 3px;
    text-align: center;
    /* border: 2px solid;
    border-color: #445947; */
    border-spacing: 2px;
    margin: 3px;
    border-style: none;
    border-collapse: separate;
}

#scheduleTable th {
    background-color: #276173;
}

#scheduleTable .nums {
    width: 24px;
    /* background-color: #DEF1FB; */
}

#scheduleTable th, #scheduleTable td {
    border: 1px solid;
    border-color: #445947;
    padding: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

#scheduleTable .lecturer {
    color: #752428;
}

#scheduleTable .room {
    color: #116611;
    font-size: 90%;
}

#choosePanel {
    font-size: 14px;
    font-family: verdana;
    padding: 3px 3px 3px 3px;
    border-bottom-color: #AAAAAA;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#choosePanel select {
    border: 1px solid gray;
    width: 100px;
}

/* tabs style */

div.tabpanel div.tab-row{
    float:left;
    width:100%;
    background:#FFFFFF url("tabs/bg.gif") repeat-x bottom;
    line-height:normal;
}

div.tabpanel div.tab-row ul {
    margin:0;
    padding:10px 10px 0;
    list-style:none;
}

div.tabpanel div.tab-row li {
    float:left;
    background:url("tabs/left.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 9px;
}

div.tabpanel div.tab-row a {
    display:block;
    background:url("tabs/right.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    text-decoration:none;
    font-weight:bold;
    white-space:nowrap;
    color:#aaa;
}

div.tab-panel {
    clear: left;
}

div.tabpanel div.tab-row a:hover {
    color:#fff;
}

div.tabpanel div.tab-row li.selected {
    background-image:url("tabs/left_on.gif");
}

div.tabpanel div.tab-row li.selected a {
    background-image:url("tabs/right_on.gif");
    color:#333;
    padding-bottom:5px;
}