/* table standart */
.strtTable {
	border-width: 1px;
	border-style: outset;
	border-spacing: 2px;
	font-style: verdana;
	background-color: #def1fb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
}

.strtTable tr, .strtTable td, .strtTable th {
	border-width: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	background-color: rgb(150, 204, 233);
	padding: 2px 5px 2px 5px;
}

.strtTable th {
	background-color: #2d9bbd;
	padding: 0px 40px 0px 40px;
	font-style: italic;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	color: #ffffff;
	text-align: center;
}

/* EditRoomPage */
#tableRoom input {
	width: 100px;
}

/* ManageRooms */
#ManageRooms img{
	width: 16px;
}

/* Admin Home page */
.menuItem, .editForm {
    float: left;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #00537d;
    border-left-color: #00537d;
    border-bottom-color: #00537d;
    border-top-color: #00537d;
    background-color: #f0f0f0;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;

}

.menuItem a {
    text-decoration: none;
    font-size: 14pt;
}

.editForm {
    clear: left;
    width: 620px;
    text-align: left;
}

#editSF select
{
	margin-left: 30px;
	width: 80px;
}

#editSF input
{
	margin-left: 10px;
	width: 100px;
}

#createSF th
{
	text-align: center;
}

#createSF select
{
	width: 150px;
}

#createSF input[type=submit]
{
	margin-left: 50px;
	width: 100px;
}

/* Edit room */
#tableRoom input
{
	width: 150px;
}

#tableRoom input[type=submit]
{
	width: 60px;
	margin-left: 95px;
}

/* Lecture room */
#lectureN
{
	text-align: center;
	border: none;
}

#lectureN th
{
	background-color: rgb(152, 183, 212);
	font-style: italic;
	font-variant: small-caps;
}

#lectureN tr:nth-child(2n) td
{
	background-color: rgb(222, 241, 251);
}

#lectureN tr:nth-child(2n+1) td
{
	background-color: rgb(173, 217, 251);
}

#t1
{
	width: 120px;
}

#t2
{
	width: 60px;
}

#t3
{
	width: 120px;
}

#t4
{
	width: 90px;
}