.stepcarousel{
  position: relative;
  border: 3px solid #215B6D;
  background-color: #DEF1FB;
  overflow: scroll;
  width: 970px;
  height: 200px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.stepcarousel .belt{
  position: absolute;
  left: 0;
  top: 0;
}

.stepcarousel .panel{
  float: left;
  overflow: hidden;
  margin: 0px;
  width: 970px;
}

#mygallery-paginate {
  position: absolute;
  left: 0;
  top: 185px;
  width: 1000px;
  text-align:center;
}

