<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>LecturerSchedulePage</title>
        <link rel="stylesheet" type="text/css" href="viewTimeTable.css" />
        <script type="text/javascript" src="js/print.js"></script>
    </head>
    <body>
        <span wicket:id="navigation"></span>

        <wicket:message key="lecturer">Lecturer:</wicket:message>
        <select wicket:id="lecturerChoise">
            <option>Tonkoshkur</option>
            <option>Segeda</option>
        </select>
        <span wicket:id="semesterLabel">2008-2009 1sem</span>

        <div id="forPrint">
            <div wicket:id="tabs" class="tabpanel"></div>
        </div>

        <a href="javascript:showForPrint(document.getElementById('forPrint').innerHTML)">
            <img border=0 src='http://www.iconsearch.ru/uploads/icons/gnomeicontheme/24x24/stock_print.png' alt="Version for print" /><wicket:message key="version.for.print">Version for print</wicket:message>
        </a>
    </body>
</html>
