
        <wicket:panel>
            <wicket:link>
                <table id="schedule-menu">
                <tbody>
                <tr>
                    <td>
                        <a href="ViewHomePage.html"><img alt="student" src="images/schedule-menu-student-pick.png" width="133" height="142"></a>
                    </td>
                    <td>
                        <a href="LecturerSchedulePage.html"><img alt="lecturer" src="images/schedule-menu-lecturer-pick.png" WIDTH="153" HEIGHT="147"></a>
                    </td>
                    <td>
                        <a href="RoomSchedulePage.html"><img alt="room" src="images/schedule-menu-room-pick.png" WIDTH="186" HEIGHT="138"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="ViewHomePage.html"><img alt="student" src="images/schedule-menu-student-button.png" width="206" height="46"></a>
                    </td>
                    <td>
                        <a href="LecturerSchedulePage.html"><img alt="lecturer" src="images/schedule-menu-lecturer-button.png" WIDTH="224" HEIGHT="46"></a>
                    </td>
                    <td>
                        <a href="RoomSchedulePage.html"><img alt="room" src="images/schedule-menu-room-button.png" WIDTH="180" HEIGHT="46"></a>
                    </td>
                </tr>
                </tbody>
                </table>
                <br/>
                <div style="width: 100%; height: 1px; background-color: #AAAAAA;"></div>
                <!-- <a href="ViewHomePage.html"><wicket:message key="for.students">For students</wicket:message></a>
                <a href="LecturerSchedulePage.html"><wicket:message key="for.lecturers">For lecturers</wicket:message></a>
                <a href="RoomSchedulePage.html"><wicket:message key="for.rooms">For rooms</wicket:message></a> -->
            </wicket:link>
        </wicket:panel>

