<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>NavigationPanel</title>
    </head>
    <body>
        <wicket:panel>
            <wicket:link>
                <a href="ViewHomePage.html"><wicket:message key="for.studetns">For students</wicket:message></a>
                <a href="LecturerSchedulePage.html"><wicket:message key="for.lecturers">For lecturers</wicket:message></a>
                <a href="RoomSchedulePage.html"><wicket:message key="for.rooms">For rooms</wicket:message></a></wicket:link>
        </wicket:panel>
    </body>
</html>
