<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title><wicket:message key="page.title">Schedule</wicket:message></title>
        <link rel="stylesheet" type="text/css" href="viewTimeTable.css">
        <script type="text/javascript" src="js/print.js"></script>
    </head>
    <body>
        <span wicket:id="choosePanel"></span>
        <br />
        <div id="forPrint">
            <div wicket:id="tabs" class="tabpanel"></div>
        </div>
        <a href="javascript:showForPrint(document.getElementById('forPrint').innerHTML)">
            <img border=0 src='http://www.iconsearch.ru/uploads/icons/gnomeicontheme/24x24/stock_print.png' /><wicket:message key="version.for.print">Version for print</wicket:message>
        </a>
    </body>
</html>
