/* ---------- Search ---------- */
#csearch {
	position: absolute;
	right: 10px;
	top: 174px;
	height: 12px;
}

#csearch input[type=text] {
	height: 10px;
	font-size: 0.8em;
}

/* ------------ Footer ------------- */
*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#wholepage {
	position: relative;
	min-height: 100%;
}

* html #wholepage {
	height: 100%;
}

#footer_hook_text {
	padding-bottom: 90px;
}

#footer_dummy {
	background-color: #99DDFF;
	position: relative;
	height: 90px;
	margin-top: -90px;
}

#footer_line {
	width: 100%;
	height: 1px;
	background-color: #6699AA;
}

#footer_text {
	font-family: Verdana;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 0px;
	font-size: 11px;
}

#footer_logo {
	text-align: right;
	margin-top: -55px;
}

#footer_logo img {
	border: 0;
}

/* -------------- FPM -------------- */
#FPM {
	font-size: 40px; 
	font-weight: bold;
	font-style: italic;
	position: absolute; top: 50px; left: 20%;
}

#DNU {
	font-size: 15px;
	position: absolute;
	left: 40%;
	top: 100px;
}

/* ---------- Base styles ---------- */
body {
	background: #ffffff;
	background-image: url(../images/Addition/top.png);
	background-position:center top;
	background-repeat: repeat-x;
	font-size: 12px;
	text-indent: 30px;
}

a {
	color: #5B677D;
	text-decoration: underline;
}

a:hover {
	color: #06C;
	text-decoration: none;
}

hr, .separator {
	border-color: #BFBFBF transparent #FFF;
	border-style: solid;
	border-width: 1px 0;
}

#wrapper {
	background: none;
	margin: 0 auto;
	max-width: 90%;
	min-width: 960px;
	position: relative;
	height:100%;
}

.ie6 #wrapper {
	width: 90%;
}

#banner {
	background: none;
	height: auto;
}

#banner .company-title {
	float: none;
	margin: 0 0 0;
	padding: 15px 0 0;
	position: static;
}

body #banner .logo a {
	float: left;
}

.current-community {
	display: none;
}

.logo .current-community {
	background: #A6AFBE url(../images/dock/my_places_public.png) no-repeat 15px 50%;
	color: #FFF;
	display: block;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	margin: 15px 0 0 20px;
	padding: 7px 17px 7px 40px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#skip-to-content {
	right: 0;
}

#skip-to-content:focus {
	left: auto;
	width: auto;
	right: 0;
	z-index: 1000;
}

#sign-in {
	background: url(../images/common/key.png) no-repeat 3px 50%;
	font-weight: bold;
	padding: 5px 5px 5px 25px;
	position: absolute;
	right: 0;
	top: 1.4em;
}

.guest-community .logo .current-community {
	display: none;
}

.private-page .logo .current-community {
	background-image: url(../images/dock/my_places_private.png);
}

.ie6 #banner {
	height: 1%;
}

.ie6 #banner h1.logo {
	height: 1%;
}

/* ---------- Main navigation ---------- */
#navigation {
	background: #414445 url(../images/navigation/bg.png) repeat-x 0 0;
	clear: both;
	margin: 0 auto 5px;
	max-height: 2.6em;
	padding: 0 5px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 3px;
}

#navigation li, #navigation a {
	display: inline-block;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
}

#navigation li {
	position: relative;
	vertical-align: top;
}

#navigation a {
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 1px;
	padding: 3px 15px;
	text-decoration: none;
}

#navigation .selected a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a {
	background: #2b778e;
	color: #FFF;
	outline: 0;
	text-shadow: -1px -1px #000;
}

#navigation li:hover .child-menu {
	background: #2b778e;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 300;
}

.ie6 #navigation li.hover .child-menu {
	background: #2b778e;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 300;
}

#navigation .child-menu {
	display: none;
}

#navigation .child-menu li {
	border-width: 0 0 1px;
	display: block;
	float: none;
	margin: 0;
}

#navigation .child-menu li a {
	cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover {
	background-color: #020509;
}

#navigation .child-menu .selected a {
	background: #020509 url(../images/navigation/bullet_selected.png) no-repeat 5px 50%;
}

/* ---------- Portlet wrapper and icons ---------- */
.portlet {
	background-color: #def1fb;
	border: 1px solid #def1fb;
	margin: 0 0 10px;
	padding: 3px;
	text-align: left;
}

.portlet-topper {
	background: #414445 url(../images/portlet/header_bg_portlet.png) repeat-x 0 0;
	border: 1px solid;
	border-color:   #def1fb;
	font-size: 1.1em;
}

.portlet-title {
	color: #FFFFFF;
	float: none;
	font-weight: bold;
	min-width: 50%;
	padding: 5px;
	text-shadow: 1px 1px #222;
}

.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

body.lfr-has-sidebar {
	padding-left: 0;
}

.lfr-has-sidebar #main-content {
	padding-left: 220px;
	width: auto;
}

/* ---------- Misc. ---------- */
.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */
.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.portlet-topper {
	-moz-box-shadow: 1px 1px 0 #FFF;
	-webkit-box-shadow: 1px 1px 0 #FFF;
	box-shadow: 1px 1px 0 #FFF;
}

.logo .current-community {
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
}

.logo .current-community, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#navigation li.selected a {
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}

#navigation .child-menu li a {
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}