<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
    <head>  
        <title><wicket:message key="page.title">Curriculums</wicket:message></title>
        <link rel="stylesheet" type="text/css" href="view.css" />
    </head>
    <body>
        <span wicket:id="choosePanel"></span>
        <br/>
        <table id="curriculumTable">
            <thead>
                <tr>
                    <th><wicket:message key="table.caption.name">Name:</wicket:message></th>
                    <th id="centered"><wicket:message key="table.caption.cathedra">Cathedra</wicket:message></th>
                    <th id="centered"><wicket:message key="table.caption.lection">Lection(h)</wicket:message></th>
                    <th id="centered"><wicket:message key="table.caption.practice">Practice(h)</wicket:message></th>
                    <th id="centered"><wicket:message key="table.caption.labs">Labs(h)</wicket:message></th>
                    <th id="centered"><wicket:message key="table.caption.selfwork">Selfwork(h)</wicket:message></th>
                    <th id="centered"><wicket:message key="table.caption.cousework">Course work</wicket:message></th>
                    <th id="centered"><wicket:message key="table.caption.finalcontrol">Final control</wicket:message></th>
                </tr>
            </thead>
            <tbody>
                <tr wicket:id="disciplineRow">
                    <td wicket:id="disciplineName"></td>
                    <td wicket:id="cathedra" id="centered"></td>
                    <td wicket:id="lection" id="centered"></td>
                    <td wicket:id="practice" id="centered"></td>
                    <td wicket:id="labs" id="centered"></td>
                    <td wicket:id="selfwork" id="centered"></td>
                    <td id="centered"><wicket:enclosure><img wicket:id="course" src="images/tick.png" id="tickImg"/></wicket:enclosure></td>
                    <td wicket:id="finalcontrol" id="centered"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
