<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title><wicket:message key="page.title">No Curriculums Found</wicket:message></title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <div id="Message">
            <wicket:message key="no.curriculums.found"> Sorry, but no curriculums exists </wicket:message>
        </div>
    </body>
</html>
